<div id="bottom">

	<div id="list-group">

		<div id="search-bar">
		    <span class="input-group-addon">Filter</span>
		    
	        <input type="text" class="col-xs-6 filtery" placeholder="by name" ng-model="nameSearch">
	        <input type="text" class="col-xs-6 filtery" placeholder="by date" ng-model="dateSearch">

	        <span class="input-group-addon" style="font-size: 18;">
	        	<div class="col-xs-3">From</div>
				<div class="col-xs-6">Location</div>
				<div class="col-xs-3">Date</div>
	        </span>
		</div>

		<div id="list-group-item" ng-repeat="drawing in drawings | orderBy:'distance' | filter: { name: nameSearch } | filter: { date: dateSearch}" ng-class-odd="'odd'" ng-class-even="'even'">
			<div class="col-xs-3">{{drawing.name}}</div>
			<div class="col-xs-6">{{drawing.address}}</div>
			<div class="col-xs-3">{{drawing.date}}</div>
		</div>

	</div>

</div>