<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
   <!--  <script src="/socket.io-client/socket.io.js"></script> -->
   <script src="/main.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <div id="containerr">
        <navbar></navbar>

        <ui-view></ui-view>
    </div>
        <!-- <div class="pos">
            <div ng-controller="geoLocationCtrl">
                <div class="geo">
                    <div>lat: {{pos.latitude}}   long: {{pos.longitude}}</div>
                    <div>angle: {{angle}}   tilt: {{tilt}}</div>
                    <button ng-click="update()">Update Info</button>
                    <button ng-click="fetchDrawings()">fetch drawings</button>
                </div>
            </div>
        </div> -->

</body>


</html>
