#wrapper {
  margin: 0 auto;
  max-width: 700px;
  padding-right: 320px; /* padding should be the total width of all right columns */
}

#content {
  float: left;
  width: 100%;
  min-width: 400px;
  padding-right: 20px;
}

.sidebar {
  float: left;
  width: 300px;
  margin-right: -1000px;
  padding-top: 50px; /* extra space padding */
}
