<div id="top">
    <span class="inbox glyphicon glyphicon-inbox" ui-sref="inbox"></span>
    <span class="map glyphicon glyphicon-globe" ui-sref="map"></span>
    <span class="draw glyphicon glyphicon-pencil" ui-sref="home"></span>
    <!-- TODO hook up with functions -->
    <span class="send glyphicon glyphicon-send" ng-click="savePng()"></span>

    <button class="logIn glyphicons glyphicons-log-in" ui-sref="login">signup</button>
    <button class="logIn glyphicons glyphicons-log-in" ui-sref="signUp">Login</button>
    <span class="profile glyphicon glyphicon-user" ui-sref="profile"></span>
</div>


<!--<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>-->
