<div id="bottom">
    <div ng-controller='TextCtrl'>
        <form name='textForm'>

            <label>Text</label>

            <input ng-model='textInput' ng-show="showInput" type='input' placeholder="Input Text Here">

            <lable>Font</label>
            <select ng-model="fontFamily" style="background-color: white">
                <option ng-repeat='font in getFontFamilies()' value='{{font}}'>{{font}}</option>
            </select>

            <label>Size</label>
            <select ng-model='fontSize' style="background-color: white">
                <option ng-repeat='size in getTextSizes()' value='{{size}}'>{{size}}</option>
            </select>

            <label>Location</label>
            <select ng-model='fontLocation' style="background-color: white">
                <option ng-repeat='loc in getTextLocations()' value={{loc.locCoords}}>{{loc.locString}}</option>
            </select>

            <button class="button" style='background-color: white' ng-click='addText(textInput)'>Add Text</button>

        </form>

    </div>

    <div ng-controller="CameraCtrl">
        <video autoplay="true" id="videoElement"></video>
    </div>
     <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <div id="tester" ng-controller="CanvasCtrl">

        <canvas id="paint"></canvas>

        <div class="cont" ng-controller='ColorCtrl'>
            <span class="color glyphicon glyphicon-tint" ng-click="toggleColorPalette()"></span>
            <div id="color-selector" ng-show="showColorPalette()">
                <div class="marker selected" id="black"></div>
                <div class="marker" id="purple"></div>
                <div class="marker" id="red"></div>
                <div class="marker" id="blue"></div>
                <div class="marker" id="green"></div>
                <div class="marker" id="orange"></div>
                <div class="marker" id="yellow"></div>
                <div class="marker" id="brown"></div>
            </div>
        </div>



    </div>
</div>