<div id="bottom">
    <div ng-controller='TextCtrl'>
        <form novalidate name='textForm'>
            <input ng-model='textInput' ng-show="showInput" type='input'>

            <label>Style</label>
            <select ng-model="fontFamily" style="background-color: white">
                <option value="serif">Serif</option>
                <option value="TimesNewRoman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <label>Size</label>
            <input ng-model="fontSize" id="fontSize" type="range" min="10" max="150" value="30" step="5" style="background-color: white">
            <h4>{{fontSize}}</h4>



            <button class="button" ng-click='addText(textInput)'>Add Text</button>
        </form>
    </div>



    <div ng-controller="CameraCtrl">
        <video autoplay="true" id="videoElement"></video>
    </div>

    <!--<div>Color: <input class="jscolor" value="ab2567"></div>-->


    <div id="tester" ng-controller="SketchCtrl">

        <canvas id="paint"></canvas>

        <div class="cont">
            <span class="color glyphicon glyphicon-tint" ng-click="toggleColors()"></span>
            <div id="color-selector" ng-show="showColors">
                <div class="marker selected" id="black"></div>
                <div class="marker" id="purple"></div>
                <div class="marker" id="red"></div>
                <div class="marker" id="blue"></div>
                <div class="marker" id="green"></div>
                <div class="marker" id="orange"></div>
                <div class="marker" id="yellow"></div>
                <div class="marker" id="brown"></div>
            </div>
        </div>



    </div>
</div>