// @import 'home/main';

#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#videoElement {
   position: absolute;
    top: 20%;
    width: 100%;
    height: 70%;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 34%;
    left: 0;
    right: 0;
    width: 100%;
    height: 42%;
    z-index: 2;
    background-color: transparent;
}

.marker {
    width: 40px;
    height: 40px;
    float: left;
    box-sizing: border-box;
}

.marker.selected {
    border: 2px solid white;
}

.geo {
    font-size: 250%
}

body, html, #containerr {
    height: 100%
}

#top {
  z-index: 4;
  background-color: teal;
  width: 100%;
  height: 13%;
  margin: auto;
}

#bottom {
  background-color: cadetblue;
  width: 100%;
  height: 87%;
  margin: auto;
  overflow: scrollable;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pos {
  text-align: center;
}

.map {
   display: block;
   background-color: transparent;
   float: right;
   font-size: 80px;
   padding: 40px;
 }

.profile {
  background-color: transparent;
  float: left;
  font-size: 80px;
  padding: 40px;
}

.inbox {
  display: block;
  background-color: transparent;
  float: right;
  font-size: 80px;
  padding: 40px;
}

.send {
  display: block;
  background-color: transparent;
  float: right;
  font-size: 80px;
  padding: 40px;
}

.draw {
  display: block;
  background-color: transparent;
  float: right;
  font-size: 80px;
  padding: 40px;
}

.text {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
  margin-top: 122%;
  display: block;
}

.color {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
}

#color-selector {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
}

#pop-out {
  float:right;
  margin-top: 90%;
}

.btn {
  background-color: darkgray;
  border-bottom-color: black;
  border: solid;
}

#map {
  height: 100%;
}

#list-group {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#list-group-item {
  width: 100%;
  height: 10%;
  font-size: 24px;
  border: solid;
  border-width: thin;
  text-align: center;
}

#search-bar {
  width: 100%;
  font-size: 24px;
  border: solid;
  border-width: thin;
  background-color: transparent;
}

.even {
  background: rgba(128,128,128, .2);
}

.odd {
  background: rgba(128,128,128, .5);
}

.filtery {
  border: solid;
  border-width: thin;
  background-color: white;
}

.input-group-addon {
  color: black;
  font-size: 24px;
}

.trash {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
}

.undo {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
}





