// @import 'home/main';

body, html, #containerr {
  height: 100%
}

#top {
  z-index: 4;
  background-color: teal;
  width: 100%;
  height: 13%;
  margin: auto;
  position: relative;
}

#bottom {
  background-color: cadetblue;
  width: 100%;
  height: 87%;
  margin: auto;
  overflow: scrollable;
}

.logo {
  color: white;
  position: absolute; 
  bottom: 0;
  left: 40px;
  font-size: 80px;
}

.login {
  text-align: center;

}

#login-form {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

#login-label {
  font-size: 25px;
  padding-bottom: 3%; 
}

#login-title {
  font-size: 60px;
  padding-bottom: 5%;
}

.form-control {
  height: 65px;
  border-radius: 25px;
  font-size: 25px;
  margin-bottom: 25px;
}

#videoElement {
  position: absolute;
  width: 100%;
  z-index: 0;
}

canvas {
  position: absolute;
  z-index: 2;
  background-color: transparent;
}

.marker {
  width: 80px;
  height: 80px;
  float: left;
  box-sizing: border-box;
}

.marker.selected {
    border: 2px solid white;
}

.geo {
  font-size: 250%
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pos {
  text-align: center;
}

.navbar-btn {
  display: block;
  background-color: transparent;
  float: right;
  font-size: 80px;
  padding: 40px;
}

.btn {
  background-color: darkgray;
  border-bottom-color: black;
  border: solid;
}

#map {
  height: 100%;
}

#list-group {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#list-group-item {
  width: 100%;
  height: 10%;
  font-size: 24px;
  border: solid;
  border-width: thin;
  text-align: center;
}

#search-bar {
  width: 100%;
  font-size: 24px;
  border: solid;
  border-width: thin;
  background-color: transparent;
}

.even {
  background: rgba(128,128,128, .2);
}

.odd {
  background: rgba(128,128,128, .5);
}

.filtery {
  border: solid;
  border-width: thin;
  background-color: white;
}

.input-group-addon {
  color: black;
  font-size: 24px;
}

.sidebar-right {
  float: right;
  text-align: right;
  margin-right: 10px;
}

.col-xs-3 {
  width: 22%;
}

.canvas-btn {
  z-index: 2;
  background-color: transparent;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}

#color-selector {
  z-index: 2;
  background-color: transparent;
  font-size: 80px;
  padding: 40px;
}

.sidebar-popout {
  z-index: 2;
  background-color: transparent;
  padding: 10px;
  font-size: 30px;
}

.modal {
  top: 35%;
}

#modal-form {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

#modal-label {
  font-size: 30px;
  padding-bottom: 3%; 
}

#modal-title {
  text-align: center;
  font-size: 35px;
  padding-bottom: 5%;
  font-weight: bold;
}

.modal-select {
  font-size: 25px;
  width: 100px;
}

.modal-body {
  text-align: center;
}

.modal-input {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  font-size: 20px;
}




